@charset "UTF-8";
$top_left-height:30px;
$wrapper-width:1200px;
$bg-f2f2f2:#f2f2f2;
$color-666:#666;
$width:100%;
html,body{
    height:100%;
}

body{
    width:1489.2px;
}
*{
    margin:0;padding:0;
}
@mixin clearfix() {
    &:after {
    content: " "; 
    display: table; 
    clear: both;
    }
}
a{
    text-decoration: none;
    color:$color-666;
}
li{
    list-style:none;
}
/*----顶部---top*/
.header-top{
    height:$top_left-height;
    background:$bg-f2f2f2;
    font-size:12px;
    line-height:30px;
    .wrapper{
        width:$wrapper-width;
        margin:0 auto;
    }
    .top_left{       
        color:$color-666;
        float:left;
    }
    .top_right{
        float:right;
        .login{
            color:$color-666;
            &:hover{
                color:orangered;
            }
        }
        .register{
            @extend .login;
        }
        .top-text{
            color:$color-666;
            margin-left:10px;
            &:hover{
                color:orangered;
            }
        }         
    }
/*顶部----个人中心--------*/
    .user-content{
        display:inline-block;
        padding:0 14px;
        margin-left:10px;
        position: relative;
        &:hover{
            color:orangered;
            b{
                border-bottom-color: orangered;
                transform: rotate(180deg);
                top:12px;
            }
            ul{
                display:block;
            }           
        }
        b{
            position: absolute;
            border:6px solid transparent;
            border-bottom-color: #666;
            display: block;
            top:7px;
            right:0px;
            transition: all 0.3s;
            transform: rotate(0deg);
        }
        ul{
            position: absolute; 
            width:66px;
            padding:0 8px;
            left:4px;
            border:1px solid #ccc;
            border-top:0;
            z-index:10;
            background:#fff;
            /*top:20px;*/
            display:none;
            a:hover{
                color:orangered;
            }
        }
    }
/*顶部----购物车------*/
    .shopcart{
        color:$color-666;
        margin-left:28px;
        &:hover{
            color:orangered;
        }
    }
/*顶部----会员俱乐部------*/
    .member-content{
        @extend .user-content;
    }
/*顶部----客服服务------*/
    .kf-content{
        @extend .user-content;
        margin-left:0;
        .kf-content-down{
            width:100px;
            position: absolute;
            right:-20px;
            border:1px solid #ccc;
            border-top:0;
            z-index:10;
            background:#fff;
            color:#000;
            text-align: center;
            margin:0 6px;
            cursor: pointer;
            display: none;
            i{           
                display:inline-block;
                width:13px;
                height:13px;
                vertical-align: middle;
                margin-right:4px;
                background:url(https://snewww.mianshui365.com/assets/images/kf_icons.png) -39px -16px no-repeat;
                overflow: hidden;
            }
            &:hover{
                color:orangered;
                i{
                    background-position:-39px -1px;
                }
            }
        }
        &:hover .kf-content-down{
            display: block;
        }
        
    }
/*顶部----客户端下载------*/
    .download-content{
        @extend .user-content;
        margin-left:0;
        img{
            position: absolute;
            right:0;
            border:1px solid #ccc;
            border-top:0;
            z-index:10;
            display: none;
        }
        &:hover img{
            display:block;
        }
    }
}
/*----顶部---middle*/
.header-middle{
    .wrapper{
        width:1200px;
        margin:0 auto;
        height:100px;
        @include clearfix();
    }
/*----顶部---logo*/
    .logo{
        float:left;
        width:192px;
        padding-top:21px;
        height:61px;
    }
/*----顶部---search搜索框*/
    .search{
        position: relative;
        margin-top:24px;
        float:right;
        display:block;
        width:600px;
        height:34px;
        border: 3px solid #ff4a00;
        text-align: right;
        font-size:0;
        .txt{
            vertical-align: top;
            display:inline-block;
            input{
                height: 24px;
                padding: 5px 0;
                border: 0;
                width: 475px;
                color: #000;
                line-height: 24px;
                font-size: 12px;
                outline: none;
            }
        }
        a{
            height: 34px;
            line-height: 34px;
            text-align: center;
            width: 120px;
            vertical-align: top;
            color: #fff;
            background-color: #ff4a00;
            font-size: 14px;
            display: inline-block;
        }
        
    }
    .search_ul{
        position:absolute;
        width:482px;
        border:1px solid #dedede;
        background:#fff;
        left:-3px;
        top:43px;
        z-index:10;
        display:none;
        li{
            width:480px;
            font-size:12px;
            line-height:20px;
            text-align:left;
            text-indent: 7px;
            &:hover{
                background:#f0f0f0;
            }
        }
    }
    
    
}
/*----顶部---bot*/
.header-bot{   
    width:1200px;
    margin:0 auto;
    .nav{
        @include clearfix();
        h2{
            margin:0;
            width: 200px;
            height:40px;
            line-height:40px;
            font-size: 14px;
            color: #fff;
            background-color: #ff4a00;
            text-align: center;
        }
        >li{
            float:left;
            >a{
                padding:0 25px;
                display: inline-block;
                font-size:14px;
                color:#000;
                text-align: center;
                line-height: 40px;
                &:hover{
                    color:#ff7646;
                }
            }
        }
        .brands{
            position: relative;
            b{
                position: absolute;
                border:6px solid transparent;
                border-bottom-color: #666;
                display: block;
                top:10px;
                right:6px;
                transition: all 0.3s;
                transform: rotate(0deg);
            }
            .sub-brands{
                position: absolute;
                width:130px;
                left:-20px;
                top:40px;
                background-color: #fff;
                box-sizing: border-box;
                border: 1px solid red;
                z-index: 20;
                overflow: hidden;
                display: none;
                a{
                    display: block;
                    border-bottom: 1px solid #e6e6e6;
                    height: 40px;
                    box-sizing: border-box;
                    text-align: center;
                    color:#000;
                    font-size: 14px;
                    line-height: 40px;
                }
            }
            &:hover{
                .sub-brands{
                    display: block;
                }
                b{
                    transform: rotate(180deg);
                    top:15px;
                }
                a{
                    color:#000;
                }
            }           
        }
    }
    .xl-img{
        position: relative;
        em{
            width:56px;
            height:21px;
            position: absolute;
            left:18px;
            top:-10px;
            display: block;
            overflow: hidden;
            background: url(https://snewww.mianshui365.com/assets/images/label.png) no-repeat -2px -25px;
        }
    }
    .member-img{
        @extend .xl-img;
        em{
            background-position: 4px -79px;
            left:32px;
        }
    }
}
.nav_all{
    position: relative;   
    .sub-nav{
        position: absolute;
        width: 200px;
        z-index: 10;
        left:0;
        top:40px;
        background-color:rgba(0,0,0,0.5);
    }
    .icon{
        width:30px;
        height:28px;
        margin: 16px 0 0 17px;
        display: inline-block;
        overflow: hidden;
        background-repeat: no-repeat;
        background-image: url(https://snewww.mianshui365.com/assets/images/icons.png?v=20170518_2);
    }
    .icon-skin{
        background-position: -274px -155px;
    }
    .icon-cosmetics{
        background-position: -195px -191px;
    }
    .icon-watch{
        background-position: -259px -215px;
    }
    .icon-bag{
        background-position: -242px -155px;
    }
    .icon-accesory{
        background-position: -227px -191px;
    }
    .icon-life{
        background-position: -259px -185px;
    }
    .item{
        position: relative;
        &:hover{
            .sub-nav-right{
                display:block;
            }
        }
        >span{
            position: absolute;
            left: 60px;
            top: 22px;
            font-weight: 900;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
        }
        >p{
            width:183px;
            padding-left:17px;
            color: #fff;
            margin-top:3px;
            padding-bottom:10.6px;
            >a{
                line-height: 20px;
                color: #fff;
            }
        }
        hr{
            position: absolute;
            bottom:0;
            width: 160px;
            border-bottom: 1px #545454 dashed;
            border-top: none;
            margin-left:20px;
        }
        &:hover{
            background:#ff4a00;
        }
    }
    .sub-nav-right{
        position: absolute;
        top:0;
        left:200px;
        padding: 15px 30px;
        width:940px;
        height:448px;
        background: #fff;
        border:1px solid #ff5b40;       
        z-index:20;
        display: none;
    }
    .sub_items{
        float:left;
        width:520px;
        dl{
            padding:12px 0;
            @include clearfix();
        }
        dt{
            width:70px;
            float: left;
            line-height: 20px;
            a{
                font-size: 14px;
                color: #333;
                line-height: 20px;
            }
        }
        dd{
            width: 440px;
            padding-bottom: 16px;
            border-bottom: 1px solid #e6e6e6;
            float: left;
            line-height: 20px;
            a{
                margin: 0 15px 0 0;
                display: inline-block;
                color: #666;
                line-height: 20px;
            }
        }
    }
    .items-logo{
        float:left;
        margin-left: 35px;
        width: 368px;
        height: 404px;
        box-sizing: border-box;
        li{
            float: left;
            height:120px;
        }
        a{
            display: table-cell;/*图片垂直居中于元素*/
            border: 1px solid #e6e6e6;
            border-bottom:none;
            width: 122px;
            height: 122px;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
        }
        img{
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
    .sub-last_li{
        a{
            width: 366px;
            height: 162px;
            border: 1px solid #e6e6e6;
        }img{
            height: auto;
            vertical-align: middle;
        }
    }
}


