@charset "utf-8";
@import "header.scss";
@import "footer.scss";
body{
    width:1519.2px;
}
/*顶部位置修改*/
.header-top{
    .top_right{
        float:left;
        margin-left:235px;
        .top-text{
            margin:0 4px 0 14px;
        }
    }
    
}
/*logo和搜索框位置修改*/
.header-middle{
    .wrapper{
        width:960px;
    }
    .search{
        margin:30px -5px 0 0;
    }
}
/*二级导航修改*/
.nav_all{
    &:hover{
        .sub-nav{
            display: block;
        }
    }
    .sub-nav{
        display:none;
    }
}
.topcontent{
    border-bottom: 2px #ff4a00 solid;
}
/*-------------------内容-----------------------*/
#mian{
    width: 960px;
    margin: 0 auto;
    height: auto;
}
/*-----------------购物流程------------------*/
.lc_top{
    @include clearfix();
    width: 953px;
    height: 63px;
    margin: 0 auto;
    margin-top: 20px;
}
.lc_content{
    width: 900px;
    height: 63px;
    float: right;
    margin-right: 27px;
}
/*--------------免税-------------------*/
.cart-free{
    @include clearfix();
    position: relative;
    width: 958px;
    height: 30px;
    margin: 10px auto;
    line-height: 30px;
    color: #666;
    text-align: right;
    span{
        display:block;
        margin-right:23px;
    }
    em{
        position: absolute;
        right:0;
        top:7px;
        width:6px;
        height:14px;
        display:block;
        padding: 0 4px;
        background: #fff;
        border: 1px solid #666;
        border-radius: 20px;
        line-height: 14px;
        text-align: center;
        cursor: pointer;
        font-style: normal;
        &:hover{
            .idcard{
                display: block;
            }
        }
    }
    .idcard{
        position: absolute;
        top: 34px;
        right: -2px;
        display: none;
        z-index: 4;
        width: 360px;
        height: 270px;
        background: url(//s1www.mianshui365.com/images/cart-idcard-exp.jpg) no-repeat;
        border: 1px solid #FE7646;
        border-radius: 5px;
    }
}
/*------------------离岛地点------------------*/
.leave-land{
    width: 960px;
    margin:0 auto;
    height: 55px;
    margin-bottom: 10px;
}
.leave-place{
    width: 960px;
    background-color: #f6f6f6;
    border: 1px solid #eee;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    span{
        font-weight: bold;
        color: #000;
    }
    select{
        color: #333;
        margin-right: 10px;
        padding: 5px 10px;
        cursor: pointer;
        outline: 0;
    }
    .color-orange{
        color:#ee761a;
        font-weight: normal;
    }
}
/*-----------------cuxiao添加商品-----------*/
.cuxiao{
    margin-top: 10px;
    width: 960px;
    margin: 0 auto;
    .full_reduce{
        border-left: 5px solid #fe0100;
        width: 954px;
        height: 30px;
        line-height: 30px;
        border: solid 1px #eeeeee;
        font-size: 12px;
    }
    .full_reduce_left{
        width: 580px;
        height: 30px;
        color: #808080;
        float: left;
        margin-left: 10px;
    }
    .full_reduce_text{
        margin-left: 5px;
        color: #fff;
        background: #fe0100;
        padding: 3px;
        border-radius: 2px;
        margin-right: 10px;
    }
    .full_orange{
        color: #ee761a;
    }
    .full_reduce_right{
        color: #fc764d;
        margin-right: 10px;
        float: right;
    }
    .cuxiao_goods{
        display: none;
        width: 960px;
        border-top: 0;
    }
    .goods-info{
        @include clearfix();
        background-color: #fff;
        width: 960px;
        border: solid 1px #eeeeee;
        border-top: 0;
        z-index: 6;
    }
    .left{
        float:left;
    }
    .goods-checkbox{
        text-align: center;
        width: 30px;
        line-height: 22px;
        vertical-align: middle;
        input{
            margin-top:45px;
            -webkit-appearance: none;
            background: url(https://s1www.mianshui365.com/images/duigou_03.jpg) no-repeat;
            height: 14px;
            vertical-align: middle;
            width: 14px;
            margin-left: 20px;
            border:0;
            outline:none;
        }
        input[type="checkbox"]:checked{
            background-position: -14px 0;
            border: none;
        }
    }
    .goods-img{
        text-align: center;
        width: 343px;
        line-height: 20px;
        font-size: 12px;
        dl{
            
            width: 310px;
            margin-left: 20px;
        }
        dd{
            width: 105px;
            float: left;
            img{
                width:100%;
            }
        }
        
        dt{
            width: 184px;
            text-align: left;
            margin-top: 16px;
            float: right;
        }
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .color_333{
            color:#333;
        }
        .color_888{
            color:#888;
        }
    }
    .goods-props{
        margin-top:30px;
        text-align: center;
        width: 153px;
        font-size: 12px;
        p{
            
            width: 153px;
            font-size: 12px;
            line-height: 25px;
            color: #808080;
        }
    }
    .goods-price{
        margin-top:35px;
        text-align: center;
        width: 208px;
        font-size: 12px;
        p{
            
            color: #fc764d;
        }
        .change-activity{
            display: inline-block;
            padding: 2px 5px;
            cursor: pointer;
            position: relative;
            border: 1px solid #fc764d;
            color: #fc764d;
        }
    }
    .goods-price-sum{
        display:none;
    }
    .goods-changenum{
        padding-top:40px;
        text-align: center;
        width: 118px;
        font-size: 12px;
        .jiajia{
            
            @include clearfix();
            border: solid 1px #eeeeee;
            width: 87px;
            height: 23px;
            margin: 0 auto;
        }
        .num_reduce{
            float:left;
            width: 25px;
            height: 23px;
            overflow: hidden;
            border-right: solid 1px #eeeeee;
            display: block;
            text-decoration: none;
            color: #cccccc;
            font-size: 20px;
            line-height: 23px;
        }
        input{
            float:left;
            width: 33px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            color: #303030;
            display:block;
            border: none;
        }
        .num_add{
            float:left;
            width: 25px;
            height: 23px;
            overflow: hidden;
            border-left: solid 1px #eeeeee;
            display: block;
            text-decoration: none;
            color: #cccccc;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .goods-action{
        margin-top:25px;
        text-align: center;
        width: 100px;
        font-size: 12px;
        .goods-action_add{
            background: url(https://s1www.mianshui365.com/images/lajixiang_03.jpg) no-repeat center left;
            padding-left: 18px;
            color: #333;
            text-decoration: none;
            height: 25px;
            line-height: 25px;
            display: inline-block;
            &:hover{
                background: url(https://s1www.mianshui365.com/images/shubjig_03.jpg) no-repeat 0 7px;
                color: #fc764d;
            }
        }
        .goods-action_del{
            background: url(https://s1www.mianshui365.com/images/lajixiang_07.jpg) no-repeat center left;
            padding-left: 18px;
            color: #333;
            text-decoration: none;
            height: 25px;
            line-height: 25px;
            display: inline-block;
            &:hover{
                background: url(https://s1www.mianshui365.com/images/shubjig_07.jpg) no-repeat 1px 5px;
                color: #fc764d;
            }
        }
    }
}

/*---------------确认订单----------------------*/
.buy-wrap{
    height: 60px;
    width: 960px;
    margin: 20px auto;
}
.buy-box{
    @include clearfix();
    width: 960px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid #ededed;
}
.buy-left{
    width: 762px;
    background: #f6f6f6;
    float: left;
    padding-right: 18px;
}
.checkall{
    width: 134px;
    float: left;
    line-height: 60px;
    margin-left: 5px;
    input{
        float: left;
        margin: 25px 5px 0 16px;
        -webkit-appearance: none;
        background: url(//s1www.mianshui365.com/images/duigou_03.jpg) no-repeat;
        height: 14px;
        width: 14px;
        outline: none;
    }
    input[type="checkbox"]:checked{
        background-position: -14px 0;
        border: none;
    }
}
.sum_1{
    width: 620px;
    float: left;   
    text-align: right;
    .sumpro{
        font-size: 12px;
        color: #666666;
        line-height: 26px;
    }
    .cart-sum{
        line-height:30px;
        em{
            font-size: 16px;
            font-style: normal;
        }
        span{
            font-size: 24px;
            color: #fc764d;
        }

    }
    
}
.buy-right{
    float: right;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    a{
        background-color: #d9d9d9;
        cursor: default;
        width: 180px;
        height: 60px;
        display: block;
        color: #fff;
    }
}
.footer{
    margin-top:0;
}
