@charset "UTF-8";
.asidecontent {
  position: fixed;
  top: 0px;
  right: -280px;
  height: 100%;
  z-index: 100;
}

.menu {
  position: relative;
  text-align: center;
  float: left;
  width: 30px;
  height: 100%;
  background: #000;
  /*---离岛免税须知和购物流程公用样式---*/
  /*----鼠标滑过每一块背景颜色改变-----*/
  /*--购物车样式--*/
}
.menu .notice {
  line-height: 15px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  display: block;
  padding: 5px 0px;
  margin-top: 6px;
}
.menu .mg-top {
  margin-top: 45px;
}
.menu .hover-ff4a00:hover {
  background-color: #ff4a00;
}
.menu .bg-ff4a00 {
  background-color: #ff4a00;
}
.menu .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(https://snewww.mianshui365.com/assets/images/icons.png?v=20170518_2);
}
.menu .cart {
  padding-top: 5px;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
}
.menu .cart .icon-cart {
  width: 20px;
  height: 20px;
  background-position: -289px -23px;
}
.menu .cart .cart-text {
  color: #FFF;
  font-size: 14px;
  padding: 0px 5px;
  line-height: 20px;
}
.menu .cart .icon-orange {
  margin-top: 5px;
  line-height: 18px;
  color: #FFF;
  text-align: center;
  width: 18px;
  height: 18px;
  background-position: -231px -221px;
}
.menu .iconlist, .menu .iconlist1 {
  position: relative;
  width: 30px;
  height: 25px;
  padding-top: 5px;
  margin-top: 8px;
  cursor: pointer;
}
.menu .iconlist:hover .icon-right, .menu .iconlist1:hover .icon-right, .menu .iconlist:hover .icon-right1, .menu .iconlist1:hover .icon-right1 {
  width: 81px;
}
.menu .icon-gift {
  background-position: -289px -111px;
}
.menu .icon-right, .menu .icon-right1 {
  position: absolute;
  top: 0;
  right: 100%;
  width: 0px;
  height: 30px;
  overflow: hidden;
  transition: all 0.5s;
}
.menu .icon-content, .menu .icon-content1 {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #333;
  text-align: center;
  color: #FFF;
  font-size: 14px;
}
.menu .icon-brands {
  background-position: -289px -1px;
}
.menu .icon-brands {
  background-position: -289px -1px;
}
.menu .icon-goods {
  background-position: -289px -45px;
}
.menu .icon-money {
  background-position: -289px -133px;
}
.menu .icon-collect {
  background-position: -289px -67px;
}
.menu .icon-footstep {
  background-position: -289px -89px;
}
.menu .menu-bot {
  position: absolute;
  bottom: 10px;
}
.menu .icon-kf_now {
  background-position: -210px -221px;
}
.menu .icon-searchs {
  background-position: -291px -185px;
}
.menu .icon-return_top {
  background-position: -291px -207px;
}
.menu .icon-right1 {
  top: -120px;
  height: 180px;
}
.menu .iconlist1:hover .icon-right1 {
  width: 301px;
}
.menu .icon-content1 {
  width: 300px;
  height: 180px;
  position: relative;
}
.menu .icon-content1:after {
  content: " ";
  display: table;
  clear: both;
}
.menu .icon-content1 .left-icon, .menu .icon-content1 .right-icon {
  float: left;
  width: 150px;
  text-align: center;
}
.menu .icon-content1 .title {
  line-height: 28px;
  height: 28px;
  font-size: 14px;
  color: #FFF;
}
.menu .icon-content1 .left-icon-img, .menu .icon-content1 .right-icon-img {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-image: url(https://snewww.mianshui365.com/assets/images/right-bar-icons.png);
  background-position: -383px -166px;
}
.menu .icon-content1 .right-icon-img {
  background-position: -261px -166px;
}

/*---右侧隐藏部分---*/
.right-layer {
  float: left;
  width: 280px;
  height: 100%;
  background: #f5f5f5;
}

/*--------购物流程-------------*/
/*头部公用样式*/
.shop-head {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 280px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
  font-size: 16px;
  background: #FFF;
}
.shop-head span {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-position: -2px -288px;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(//snewww.mianshui365.com/assets/images/right-bar-icons.png);
}

/*---------流程---------*/
.right-shop-step {
  display: none;
}

.shop-step-content, .right-cart-goods .cart-goods-content {
  position: absolute;
  width: 280px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  overflow: hidden;
}
.shop-step-content .overview, .right-cart-goods .cart-goods-content .overview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 20px;
}

.shop-right-icon {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(https://snewww.mianshui365.com/assets/images/right-bar-icons.png);
}

.wh {
  width: 240px;
  height: 80px;
}

.step-title {
  padding-left: 90px;
  font-size: 16px;
  color: #ff4a00;
  line-height: 18px;
  margin-top: 18px;
}

.step-exp {
  margin-top: 8px;
  padding-left: 90px;
  font-size: 12px;
  color: #999;
}

.icon-step1 {
  background-position: -2px -2px;
}

.icon-step2 {
  background-position: -244px -2px;
}

.icon-step3 {
  background-position: -2px -84px;
}

.icon-step4 {
  background-position: -244px -84px;
}

.icon-step5 {
  background-position: -2px -166px;
}

.down-wrap {
  width: 240px;
  text-align: center;
  line-height: 0;
  padding: 10px 0px;
}
.down-wrap .down-wh {
  width: 15px;
  height: 8px;
  background-position: -244px -166px;
}

/*-------购物车--------*/
.right-cart-goods .layer-body {
  text-align: center;
  margin-top: 60px;
}
.right-cart-goods .layer-body span {
  width: 80px;
  height: 80px;
  background-position: -24px -288px;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(https://snewww.mianshui365.com/assets/images/right-bar-icons.png);
}
.right-cart-goods .layer-body p {
  font-size: 12px;
  color: #999;
  line-height: 18px;
  margin-top: 10px;
}

/*# sourceMappingURL=aside.css.map */
